*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    background-color: var(--secondary);
}

h1, h2, h3, h4, h5 {
    font-weight: $font-weight-medium;
}

#root {
    display: flex;
    justify-content: center;
}